html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'TT Lakes';
    background-color: #F8F8F8;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #7E7E82;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;
    padding: 0 16px 0 16px;
    flex-wrap: wrap;
    background: white;
}

.header ul {
    list-style: none;
    display: flex;
    height: inherit;
    align-items: center;
}

button,button:active{
    border: none;
    cursor: pointer;
    outline: none;
}

a:hover,button:hover {
    opacity: 0.7;
}

.header__burger-logo {
    position: relative;
}

.header__burger-logo li {
    margin-right: 16px;
}

.logo__item--burger {
    background: url("../img/ic/burger.svg") no-repeat;
}

.logo__item--logo-group {
    width: 97px;
    height: 51px;
}

.header__burger-logo li:last-child:after {
    content: " ";
    position: absolute;
    top: 28px;
    right: 0;
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
}

.header .header__feedback-list {
    display: none;
}

.feedback-list__item--call {
    background: url("../img/ic/chat%20copy.svg") no-repeat;
}

.feedback-list__item--chat {
    background: url("../img/ic/chat.svg") no-repeat;
}

.feedback-list__item--profile {
    background: url("../img/ic/profile.svg") no-repeat;
}

.header__serv-list li:last-child {
    margin-left: 16px;
}

.serv-list__item--request {
    background: url("../img/ic/repair.svg") no-repeat;
}

.serv-list__item--check-status {
    background: url("../img/ic/checkstatus.svg") no-repeat;
}

.icon {
    display: block;
    height: 40px;
    width: 40px;
}
.title {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 40px;
    width: 100%;
    margin-left: 16px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: #1B1C21;
}

.title:before {
    position: absolute;
    content: "";
    border-left: 4px solid #41F6D7;
    height: 100%;
    left: -16px;
}

.nav__menu {
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 24px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.menu__item {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-decoration: none;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}

.menu__item:first-child {
    margin-left: 16px;
}

.menu__item:last-child {
    margin-right: 16px;
}

.menu__item:active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.info__text {
    white-space: pre-wrap;
    width: 100%;
    font-size: 14px;
    color: #1B1C21;
    padding-left: 16px;
    padding-right: 16px;
    height: 90px;
    line-height: 18px;
    overflow: hidden;
}

.info__read-more {
    background-color: #F8F8F8;
    margin: 16px 24px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    align-items: center;
}

.read-more__icon {
    margin-right: 16px;
}

.info__read-more__name {
    margin-left: 10px;
}

.main__content-image {
    width: 100%;
    max-width: 450px;
    height: 176px;
}

.nav__reviews {
    display: none;
}

.active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

@media screen and (min-width: 767px) {
    .container {
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
    .header__burger-logo li:last-child:after {
        content: " ";
        position: absolute;
        top: 28px;
        left: 60px;
        display: block;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .main {
        padding-left: 24px;
        padding-right: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .main__nav {
        justify-content: flex-start;
    }

    .nav__menu {
        margin-bottom: 32px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .menu__item:first-child {
        margin-left: 0px;
    }

    .header__burger-logo li:first-child {
        margin-right: 42px;
    }

    .header .header__feedback-list {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 42px;
    }

    .header__feedback-list li {
        margin-left: 16px;
    }

    .header__serv-list {
        position: relative;
    }

    .header__serv-list li:first-child:before {
        content: " ";
        position: absolute;
        display: block;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        top:28px;
        left:-20px;
    }

    .title {
        margin-bottom: 32px;
        margin-left: -8px;
    }

    .info__text {
        white-space: pre-wrap;
        width: 312px;
        font-size: 14px;
        color: #1B1C21;
        padding: 0px;
        height: 160px;
        line-height: 18px;
        overflow: hidden;
    }

    .main__content-image {
        width: 360px;
        height: 208px;
        margin-left: auto;
    }
}


@media screen and (min-width: 1120px) {
    .header {
        background-color: inherit;
        position: absolute;
        height: 40px;
        margin: 42px 0px 8px auto;
        justify-content: flex-end;
        border-bottom: none;
        padding-right:0px;
        z-index: 10;
    }
    .main {
        padding-left: 32px;
        padding-right: 32px;
    }
    .container {
        margin: 0 auto;
    }
    .nav__menu {
        margin-bottom: 0px;
         overflow: auto;
    }
    .header .header__burger-logo {
        display: none;
    }

    .header .header__feedback-list {
        display: none;
    }

    .main__nav {
        justify-content: space-between;
        width: 100%;
    }

    .header__serv-list li:last-child {
        margin-left: 160px;
        margin-right: 32px;
    }

    .header__serv-list li:last-child:before {
        display: flex;
        content: "Статус ремонта";
        position: absolute;
        background: none;
        font-size: 16px;
        align-items: center;
        white-space: nowrap;
        height: 40px;
        right: 80px;
    }
    .header__serv-list li:first-child:before {
        display: flex;
        content: "Оставить заявку";
        position: absolute;
        background: none;
        font-size: 16px;
        white-space: nowrap;
        align-items: center;
        height: 40px;
        top:0px;
        left:-135px;
    }
    .nav__reviews {
    margin: 14px auto 19px 56px;
    font-size: 16px;
    color: #7E7E82;
    position: relative;
    display: block;
    }
    .title {
        margin-bottom: 8px;
        margin-top: 42px;
        margin-left: -16px;
    }

    .menu__item:first-child {
        margin-left: 0px;
    }

    .info__text {
        white-space: pre-wrap;
        width: 490px;
        font-size: 14px;
        color: #1B1C21;
        padding: 0px;
        height: 160px;
        line-height: 18px;
        overflow: hidden;
    }

    .main__content-image {
        width: 532px;
        height: 307px;
    }
}
