html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'TT Lakes';
    background-color: #F8F8F8;
    min-width: 320px;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('.fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #7E7E82;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D9FFF5;
    padding: 0 16px 0 16px;
    flex-wrap: wrap;
    background: white;
}

ul {
    list-style: none;
    display: flex;
    height: inherit;
    align-items: center;
}

button,button:active{
    border: none;
    cursor: pointer;
    outline: none;
}

.ui-button {
    display: block;
    height: 40px;
    width: 40px;
}

a:hover,button:hover {
    opacity: 0.7;
}

.header__button-burger{
    margin-right: 16px;
}

.ui-button--burger {
    background: url("../img/ic/burger.svg") no-repeat;
}

.header__logo:after {
    content: " ";
    position: absolute;
    top: 28px;
    left: 186px;
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
}

.header .feedback-list {
    display: none;
}

.ui-button--call{
    background: url("../img/ic/chat%20copy.svg") no-repeat;
}

.ui-button--chat {
    background: url("../img/ic/chat.svg") no-repeat;
}

.ui-button--profile {
    background: url("../img/ic/profile.svg") no-repeat;
}
.header__serv-list{
    margin-left: auto;
}

.serv-list__item:last-child {
    margin-left: 16px;
}

.ui-button--request {
    background: url("../img/ic/repair.svg") no-repeat;
}

.ui-button--check-status {
    background: url("../img/ic/checkstatus.svg") no-repeat;
}

.title {
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: #1B1C21;
}
.main__title{
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}
.title:before {
    position: absolute;
    content: "";
    border-left: 4px solid #41F6D7;
    height: 100%;
    left: -16px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.menu__item-link{
  display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-decoration: none;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;   
}
.menu__item:first-child {
    margin-left: 16px;
}

.menu__item:last-child {
    margin-right: 16px;
}

.menu__item-link:active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}
.menu__item--active {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.info-text {
    white-space:normal;
    width: 100%;
    font-size: 14px;
    color: #1B1C21;
    padding-left: 16px;
    padding-right: 16px;
    height: 90px;
    line-height: 18px;
    overflow: hidden;
}

.button-read-more {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    align-items: center;
    background-color: #F8F8F8;
}
.info__button{
     margin: 16px 24px;
}
.info__icon {
    margin-right: 16px;
}

.info__name {
    margin-left: 10px;
}

.content-image {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: 800px;
}


@media screen and (min-width: 767px) {
    .container {
        margin: 0 auto;
    }
    body{
        overflow-x: hidden;
    }
    .header__burger-logo li:last-child:after {
        content: " ";
        position: absolute;
        top: 28px;
        left: 60px;
        display: block;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
    }

    .main {
        padding-left: 24px;
        padding-right: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .nav__menu {
        justify-content: flex-start;
        margin-bottom: 32px;
    }

    .menu__item:first-child {
    margin-left: 0px;
   }

   .menu__item:last-child {
    margin-right: 0px;
   }
    .header__burger-logo li:first-child {
        margin-right: 42px;
    }

    .header .feedback-list {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 42px;
    }

    .header__feedback-list li {
        margin-left: 16px;
    }

    .header__serv-list {
        position: relative;
        margin-left: 0px;
        margin-right: 24px;
    }

    .header__serv-list li:first-child:before {
        content: " ";
        position: absolute;
        display: block;
        width: 2px;
        height: 32px;
        background: #EAEAEA;
        border-radius: 1px;
        top:28px;
        left:-20px;
    }

    .main__title {
        margin-bottom: 32px;
        margin-left: -8px;
    }

    .info-text {
        white-space: pre-wrap;
        width: 312px;
        font-size: 14px;
        color: #1B1C21;
        padding: 0px;
        height: 160px;
        line-height: 18px;
        overflow: hidden;
    }

    .main__content-image {
        width: 360px;
        height: 208px;
        margin-left: auto;
    }
}


@media screen and (min-width: 1120px) {
    .header {
        background-color: inherit;
        position: absolute;
        height: 40px;
        margin: 42px 0px 8px auto;
        justify-content: flex-end;
        border-bottom: none;
        padding-right:0px;
        z-index: 10;
    }
    .main {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    .container {
        margin: 0 auto;
    }

    .header .ui-button--burger {
        display: none;
    }
    .logo{
        display: none;
    }
    .header .feedback-list {
        display: none;
    }
    
    .nav__menu {
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        margin-top: -8px;
        width: 100%;
        margin-bottom: 0px;
        overflow:hidden;
    }
    .menu__item-link{
        margin-top: 8px;
    }
    
    .nav{
        width:100%;
    }
    .header__serv-list li:last-child {
        margin-left: 160px;
        margin-right: 32px;
    }

    .header__serv-list li:last-child:before {
        display: flex;
        content: "Статус ремонта";
        position: absolute;
        background: none;
        font-size: 16px;
        align-items: center;
        white-space: nowrap;
        height: 40px;
        right: 80px;
    }
    .header__serv-list li:first-child:before {
        display: flex;
        content: "Оставить заявку";
        position: absolute;
        background: none;
        font-size: 16px;
        white-space: nowrap;
        align-items: center;
        height: 40px;
        top:0px;
        left:-135px;
    }
    
    .main__title {
        margin-bottom: 8px;
        margin-top: 42px;
        margin-left: -16px;
    }
    .main__info{
        margin-top: 9px;
    }
    .info__text {
        white-space: pre-wrap;
        width: 490px;
        font-size: 14px;
        color: #1B1C21;
        padding: 0px;
        height: 160px;
        line-height: 18px;
        overflow: hidden;
    }

    .main__content-image {
        width: 532px;
        height: 307px;
        margin-top: 9px;
    }
    .menu__item-link{
    padding-left: 22px;
    padding-right: 22px;  
}
}
